{% load static %}
<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            {# Required meta tags #}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://cdn.jsdelivr.net/npm/daisyui@2.43.0/dist/full.css"
                  rel="stylesheet"
                  type="text/css"/>
            <script src="https://cdn.tailwindcss.com"></script>
            {# Title #}
            <title>
                {% block title %}
                    Csv Reader
                {% endblock title %}
            </title>
        {% endblock head %}
    </head>
    {# Body #}
    <body>
        {% block body %}
        {% endblock body %}
        {% block script %}
        {% endblock script %}
    </body>
</html>
